.auth {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 50px 30px;
  min-width: 340px;
  max-height: 615px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  &__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 auto;
    margin-bottom: 30px;
  }
  &__link {
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    color: $colorLink;
    margin-top: 14px;
    &:hover {
      @include linkHover;
    }
  }
}
