{{!< main/main}}
<div class='page__login _page'>
  <div class='auth'>
    <h1 class='auth__title'>Sign In</h1>
    <form class='auth__form'>
        {{#each login}}
          {{> 'auth/auth' this}}
      {{/each}}
    </form>
    {{> 'buttons/buttons' link='../chat/chat.hbs' text='Sign In'}}
    <a class='auth__link' href='../signup/signup.hbs'>Нет аккаунта?</a>
  </div>
</div>
