@import "../../styles/variables";
@import "../../styles/mixins";

.auth {
  background-color: $backgroundAuth;
  box-shadow: $shadowForWindow;
  border-radius: 12px;
  padding: 50px 30px;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  font-weight: 500;

  @include breakpoint(sm) {
    min-width: 310px;
    background-color: $backgroundPage;
    box-shadow: none;
  }

  &__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 auto;
    margin-bottom: 30px;
  }

  &__link {
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    color: $colorLink;
    margin-top: 14px;
    margin-bottom: 20px;

    &:hover {
      @include linkHover;
    }
  }
}
