.profile__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: $borderBottomInput;
  outline: none;
  padding: 10px 0;
}
.input__profile {
  border: none;
  text-align: right;
  outline: none;
}
.label__profile {
  align-self: center;
  font-size: 13px;
  line-height: 13px;
}
