.button__main {
  display: block;
  text-align: center;
  background: $backgroundButton;
  border-radius: 8px;
  color: $colorButton;
  padding: 12px 70px;
  max-width: 280px;
  margin: auto;
  margin-top: 20px;
}
