<div class="profile__nav">
  <a class="profile__nav__link" href="../chat/chat.hbs">
    <img
      class="profile__nav__image"
      src="../../asserts/arrowLeft.png"
      alt="arrow"
    />
  </a>
</div>
