<a class='profile__link' href='../changeProfile/changeProfile.hbs'>Изменить
  данные</a>
<a class='profile__link' href='../changePassword/changePassword.hbs'>Изменить
  пароль</a>
<a class='profile__link profile__link_red' href='../login/login.hbs'>Выйти</a>