.profile__link {
  font-size: 13px;
  line-height: 13px;
  color: $colorLink;
  &:hover {
    @include linkHover;
  }
  &_red {
    color: $colorLinkRed;
    &:hover {
      @include linkHover;
      text-decoration-color: $colorLinkRed;
    }
  }
}
