<a class="profile__link" href="../changeProfile/changeProfile.hbs">Change
  profile</a>
<a class="profile__link" href="../changePassword/changePassword.hbs">Change
  password</a>
<a class="profile__link profile__link_red" href="../login/login.hbs">Exit</a>
