{{!< main/main}}
<div class='content profile'>
   {{>'profile/profileNav/profileNav'}}
   <div class="content__main">
   <div class='profile__info'>
      {{#each password}}
          {{> 'profile/profileInputs/profileInputs' this}}
      {{/each}}
   </div>
   {{>'buttons/buttons'  link='../profile/profile.hbs' text='Save'}}
   </div>
</div>