.button__main {
  display: block;
  text-align: center;
  background: $backgroundButton;
  border-radius: 8px;
  color: $colorButton;
  padding: 12px 70px;
  min-width: 280px;
  margin: auto;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-size: 16px;
  &:hover {
    background-color: $hoverColorButton;
  }
}
