@import "../../../styles/variables";
.prifile__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.profile__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: $colorForTitle;
  align-self: center;
}

.profile__avatar {
  order: -1;
  width: 130px;
  height: 130px;
  background: #efefef;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &:hover {
    background: #000;
    opacity: 0.3;
  }

  &__button {
    padding: 70px;
    position: absolute;
    background: transparent;
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 100px;
  }
}
