{{!< main/main}}
<div class='content profile'>
   {{>'profile/profileNav/profileNav'}}
   <div class="content__main">
      {{>'profile/profileMain/profileMain'}}
      {{>'profile/profileInfo/profileInfo'}}
      {{>'buttons/buttons'  link='../profile/profile.hbs' text='Save'}}
   </div>
</div>