<div class="chat__message">
  <button class="chat__message__actions">
    <img src="../../asserts/clip.png" alt="clip" />
  </button>
  <input class="chat__message__input" type="text" placeholder="Message" />
  <button class="chat__message__send">
    <img src="../../asserts/arrowLeft.png" alt="send" />
  </button>
</div>
