.chat__message {
  border-top: $borderChatNav;
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
  &__input {
    background-color: $backgroundInput;
    flex: 0 0 90%;
    border-radius: 30px;
    padding: 13px;
  }
  button {
    background-color: transparent;
    cursor: pointer;
  }
  &__send {
    transform: scaleX(-1);
    &:hover {
      transform: scaleX(-1.1) scaleY(1.1);
    }
  }
}
