@import "../../partials/chooseChat/chooseChat.scss";
@import "../../partials/chatList/chatList.scss";
.content {
  display: flex;
  flex: 0 0 100%;
  color: $colorForText;
  font-weight: 500;
}
.chat {
  .content__nav {
    @include styleNav;
    flex-direction: column;
  }
  .content__main {
    flex: 0 0 75%;
    display: flex;
    align-items: center;
  }
}
