@import "../../styles/variables";
@import "../../styles/mixins";

.content {
  display: flex;
  flex: 0 0 100%;
  color: $colorForText;
  font-weight: 500;
}

.chat {
  .chat__nav {
    @include styleNav;

    flex-direction: column;

    &__profile {
      align-self: flex-end;
      display: flex;
      gap: 5px;

      &__title {
        font-size: 14px;
        line-height: 12px;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          color: $hoverColorChat;
        }
      }
    }

    &__search {
      background: $backgroundInput;
      margin-top: 10px;

      &__input {
        background-image: url(../../../static/img/search.png);
        background-repeat: no-repeat;
        background-position: left 30% bottom 50%;
        width: 100%;
        border-radius: 5px;
        border-color: transparent;
        padding: 10px;
        text-align: center;

        &:focus {
          text-align: start;
          background-position: left 90% bottom 50%;
        }
      }
    }
  }

  .chat__main {
    flex: 0 0 75%;

    @include styleMain;

    align-items: unset;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;

    @include breakpoint(xl) {
      padding: 0 40px;
    }

    @include breakpoint(lg) {
      display: none;
    }
  }
}

.message__date {
  text-align: center;
}
