.profile {
  @import "../../partials/profile/profileNav/profileNav.scss";
  .profile__main {
    flex: 0 0 95%;
    @include styleMain;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
    @import "../../partials/profile/profileMain/profileMain.scss";
    @import "../../partials/profile/profileInfo/profileInfo.scss";
    @import "../../partials/profile/profileLink/profileLink.scss";
  }
  .button__main {
    margin: 0;
  }
}
