@import "../../styles/variables";
@import "../../styles/mixins";

.profile {
  &__main {
    flex: 0 0 95%;
    @include styleMain;
    flex-direction: column;
    justify-content: center;
    gap: 21px;

    .profile__info {
      min-width: 510px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      @include breakpoint(md) {
        min-width: 210px;
        padding: 20px 20px 20px 0;
      }

      .input {
        flex-direction: row;
        justify-content: space-between;
        border-bottom: $borderBottomInput;
        flex-wrap: wrap;
      }

      .input__label {
        align-self: center;
        font-size: 13px;
        line-height: 13px;
        flex: 0 0 30%;
      }
    }

    .input__profile {
      outline: none;
      padding: 10px 0;
      text-align: right;
      flex: 0 0 70%;
    }

    .button__main_red {
      background-color: $colorLinkRed;

      &:hover {
        @include linkHover;

        background-color: $hoverColorButtonRed;
      }
    }
  }

  .button__main {
    @include breakpoint(sm) {
      min-width: 0;
      max-width: 180px;
      padding: 12px 40px;
    }
  }
}
