{{!< main/main}}
<div class="content profile">
   {{>"profile/profileNav/profileNav"}}
   <div class="profile__main">
      {{>"profile/profileMain/profileMain"}}
      {{>"profile/profileInfo/profileInfo"}}
      {{>"profile/profileLink/profileLink"}}
   </div>
</div>
