$backgroundLayout: #92b7fca1;
$backgroundPage: #fff;
$backgroundButton: #3369f3;
$backgroundNav: rgba(209, 209, 209, 0.952);
$backgroundInput: #efefef;
$backgroundMessage: #92b7fca1;

$colorLink: #3369f3;
$colorLinkRed: red;
$colorButton: #fff;
$colorForText: #999999;
$colorForTitle: #1e1e1e;
$colorMessage: #fff;

$shadowForWindow: 0px 0px 6px rgba(0, 0, 0, 0.14);
$borderBottomInput: 1px solid #3369f3;
$borderChatNav: 1px solid #eaeaea;

$hoverColorChat: #fff;
$hoverColorChatActions: #f5f5f5;
$hoverColorButton: #2148aa;
$hoverColorButtonRed: rgb(142, 30, 30);
