$backgroundLayout: #040361;
$backgroundPage: #8987fabc;
$backgroundAuth: #fff;
$backgroundContent: #fff;
$backgroundButton: #3369f3;
$backgroundNav: rgb(209 209 209 / 95.2%);
$backgroundInput: #efefef;
$backgroundMessage: #92b7fca1;

$colorLink: #3369f3;
$colorLinkRed: red;
$colorButton: #fff;
$colorForText: #999;
$colorForTitle: #1e1e1e;
$colorMessage: #fff;

$shadowForWindow: 0 0 20px rgba(0, 0, 0, 0.776);
$borderBottomInput: 1px solid #3369f3;
$borderChatNav: 1px solid #eaeaea;

$hoverColorChat: #fff;
$hoverColorChatActions: #f5f5f5;
$hoverColorButton: #2148aa;
$hoverColorButtonRed: rgb(142 30 30);
