{{!< main/main}}

<div class='page__welcome _page'>
  <h1 class="page__welcome__title" >Welcome to Chat-Messenger!</h1>
  {{> "buttons/buttons" link='../login/login.hbs' text='Sign In'}}
  {{> "buttons/buttons" link='../signup/signup.hbs'  text='Sign Up'}}
 
</div>