@import "../../../styles/variables";
.profile__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $borderBottomInput;
  padding: 10px 0;

  &__label {
    align-self: center;
    font-size: 13px;
    line-height: 13px;
    flex: 0 0 30%;
  }

  &__title {
    text-align: right;
  }
}
