<div class='chat__profile'>
  <a href='../profile/profile.hbs'>Профиль</a>
  <img src='../../asserts/arrowRight.png' alt='arrow' />
</div>
<div class='chat__search'>
  <input class='chat__search__input' type='search' placeholder='Поиск' />
</div>
<ul class='chat__list'>
  <li class='chat__item'>
    <img src='../../asserts/avatar.png' alt='avatar' />
    <div class='chat__item__info'>
      <h3>Name</h3>
      <span>Message</span>
    </div>
    <span class='chat__item__time'>Time</span>
  </li>
</ul>