.chat__nav__profile {
  align-self: flex-end;
  display: flex;
  gap: 5px;
  &:hover {
    color: $hoverColorChat;
  }
  &__title {
    font-size: 12px;
    line-height: 12px;
  }
}

.chat__nav__search {
  background: $backgroundInput;
  margin-top: 10px;
  &__input {
    background-image: url(../asserts/search.png);
    background-repeat: no-repeat;
    background-position: left 30% bottom 50%;
    width: 100%;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px;
    text-align: center;
    &:focus {
      text-align: start;
      background-position: left 90% bottom 50%;
    }
  }
}
.chat__list {
  display: flex;
}
.chat__item {
  border-top: $borderChatNav;
  border-bottom: $borderChatNav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 100%;
  gap: 5px;
  padding: 12px 0;
  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &__title {
      @include profileNameTitle;
    }
    &__message {
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__time {
    font-size: 9px;
    line-height: 13px;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(62, 65, 66, 0.349);
    color: $hoverColorChat;
  }
}
