<div class="chat__profile">
  <a class="chat__profile__title" href="../profile/profile.hbs">Profile</a>
  <img
    class="chat__profile__image"
    src="../../asserts/arrowRight.png"
    alt="arrow"
  />
</div>
<div class="chat__search">
  <input class="chat__search__input" type="search" placeholder="Search" />
</div>
<ul class="chat__list">
  <li class="chat__item">
    <img
      class="chat__item__image"
      src="../../asserts/avatar.png"
      alt="avatar"
    />
    <div class="chat__item__info">
      <h3 class="chat__item__info__title">Name</h3>
      <span class="chat__item__info__message">Message</span>
    </div>
    <span class="chat__item__time">Time</span>
  </li>
</ul>
