@import "../../partials/chooseChat/chooseChat.scss";
@import "../../partials/chatList/chatList.scss";
@import "../../partials/chatHeader/chatHeader.scss";
@import "../../partials/chatMessage/chatMessage.scss";

.content {
  display: flex;
  flex: 0 0 100%;
  color: $colorForText;
  font-weight: 500;
}
.chat {
  .chat__nav {
    @include styleNav;
    flex-direction: column;
  }
  .chat__main {
    flex: 0 0 75%;
    @include styleMain;
    align-items: unset;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px;
  }
}
