{{!< main/main}}
<div class="content chat">
  <div class="chat__nav">
    {{>"chatList/chatList"}}
  </div>
  <div class="chat__main">
    {{>"chatHeader/chatHeader"}}
    {{>"chooseChat/chooseChat"}}
    {{>"chatMessage/chatMessage"}}
  </div>
</div>
