.auth__inputs {
  display: flex;
  flex-direction: column;
}
.input__field {
  border-bottom: 1px solid #3369f3;
  padding: 5px 0;
  outline: none;
}
label {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;
}
