.chat__header {
  display: flex;
  justify-content: space-between;
  border-bottom: $borderChatNav;
  padding-bottom: 10px;
  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      border-radius: 100px;
    }
    &__title {
      order: 2;
      @include profileNameTitle;
    }
  }
  &__actions {
    background-color: transparent;
    cursor: pointer;
    padding: 5px 10px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
