<div class="chat__header">
  <div class="chat__header__info">
    <h3 class="chat__header__info__title">Name</h3>
    <img
      src="../../asserts/avatar.png"
      alt="avatar"
      width="34px"
      height="34px"
    />
  </div>
  <button class="chat__header__actions"><img
      src="../../asserts/headerActions.png"
      alt="actions"
    /></button>
</div>
