@import "../../../styles/variables";
@import "../../../styles/mixins";

.chat__message {
  border-top: $borderChatNav;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  gap: 10px;

  form {
    flex: 0 0 95%;
  }

  &__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__input {
    background-color: $backgroundInput;
    border-radius: 30px;
    padding: 13px;
    flex: 0 0 95%;
    @include breakpoint(xxl) {
      flex: 0 0 85%;
    }

    @include breakpoint(xl) {
      flex: 0 0 75%;
    }
  }

  &__actions {
    padding: 20px;
    position: fixed;
    background: transparent;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__send {
    background-color: $backgroundButton;
    color: $colorButton;
    font-weight: 600;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  .input__error {
    flex: 0 0 100%;
    text-align: center;
  }

  .options {
    top: 78.2%;
    left: 31%;
  }
}
